<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link
      rel="icon"
      type="image/png"
      href="{{settings.favicon}}"
      sizes="16x16 32x32 96x96"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prata&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% if prism == true %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/prism-tomorrow.css"
    />
    {% endif %}
    <link
      href="https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
  </head>
  <body>
    {% include "./partials/navbar.html" %} {{ content | safe }} {% include
    "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
  </body>
</html>
